:root{
   /* Custom Colors */
   --primary-clr-10: #E7816B;
   --primary-clr-dark: #000000;
   --primary-clr-light: #ffffff;
   
   --sec-clr-10: #FFAD9B;
   --sec-clr-dark: #333136;
   --sec-clr-light: #f1f3f5;

   --ff-family: "Jost",sans-serif;


}

